<!-- Tabs for user as a child -->
<mat-tab-group [selectedIndex]="selectedTab" *ngIf="!isLoading && !isUserLoading && !user.isParent"
	(selectedIndexChange)="updateParams($event)">
	<mat-tab label="To do">

		<p *ngIf="_filteredChores.toDo.length === 0">Nothing to do!</p>
		<mat-list>
			<app-chore *ngFor="let choreEl of _filteredChores.toDo" [item]="choreEl" [user]="user"
				(setDoneEvent)="setDone($event)">
			</app-chore>
		</mat-list>
	</mat-tab>

	<mat-tab label="Wait for pay">

		<p *ngIf="_filteredChores.doneNotPaidChores.length === 0">All chores are paid</p>
		<mat-list>
			<app-chore *ngFor="let choreEl of _filteredChores.doneNotPaidChores" [item]="choreEl"
				[user]="user"></app-chore>
		</mat-list>
	</mat-tab>
	<mat-tab label="Pending">
		<p *ngIf="_filteredChores.choresToConfirm.length === 0">No chores in Pending</p>
		<mat-list>
			<app-chore *ngFor="let choreEl of _filteredChores.choresToConfirm" [item]="choreEl"
				[user]="user"></app-chore>
		</mat-list>
	</mat-tab>
	<mat-tab label="Archive">
		<p *ngIf="_filteredChores.archivedChores.length === 0">Archive is empty</p>
		<mat-list>
			<app-chore *ngFor="let choreEl of _filteredChores.archivedChores" [item]="choreEl"
				[user]="user"></app-chore>
		</mat-list>
	</mat-tab>
</mat-tab-group>


<!-- ****************************************************************************************************** -->

<!-- Tabs for user as a parent -->

<mat-tab-group [selectedIndex]="selectedTab" (selectedIndexChange)="updateParams($event)"
	*ngIf="!isLoading && !isUserLoading && user.isParent">
	<mat-tab label="Doing">

		<p *ngIf="_filteredChores.toDo.length === 0">No chores in Doing</p>
		<mat-list>
			<app-chore *ngFor="let choreEl of _filteredChores.toDo" [item]="choreEl" [user]="user"
				(setDoneEvent)="setDone($event)">
			</app-chore>
		</mat-list>
	</mat-tab>
	<mat-tab label="To pay">
		<p *ngIf="_filteredChores.doneNotPaidChores.length === 0">All chores are paid</p>
		<mat-list>
			<app-chore *ngFor="let choreEl of _filteredChores.doneNotPaidChores" [item]="choreEl"
				[user]="user" (setPaidEvent)="onChorePayment($event)">
			</app-chore>
		</mat-list>
	</mat-tab>
	<mat-tab label="To confirm">
		<p *ngIf="_filteredChores.choresToConfirm.length === 0">No chores to confirm</p>
		<mat-list>
			<app-chore *ngFor="let choreEl of _filteredChores.choresToConfirm" [item]="choreEl"
				[user]="user" (confirmEvent)="onChoreReview($event)" [user]="user">
			</app-chore>
		</mat-list>
	</mat-tab>
	<mat-tab label="Archive">
		<p *ngIf="_filteredChores.archivedChores.length === 0">Archive is empty</p>
		<mat-list>
			<app-chore *ngFor="let choreEl of _filteredChores.archivedChores" [item]="choreEl"
				[user]="user"></app-chore>
		</mat-list>
	</mat-tab>
</mat-tab-group>
