<!-- <div class="row">
	<h2 class="col s12">Chore list</h2>
</div>
 -->
<mat-tab-group *ngIf="!isLoading && !user.isParent">
	<mat-tab label="To do">
		<p *ngIf="_filteredChores.toDo.length === 0">Nothing to do!</p>
		<mat-list>
			<app-chore *ngFor="let choreEl of _filteredChores.toDo" [item]="choreEl" [isParent]="user.isParent"
				(setDoneEvent)="setDone($event)">
			</app-chore>
		</mat-list>
	</mat-tab>
	<mat-tab label="Pending">
		<p *ngIf="_filteredChores.choresToConfirm.length === 0">No chores in Pending</p>
		<mat-list>
			<app-chore *ngFor="let choreEl of _filteredChores.choresToConfirm" [item]="choreEl"
				[isParent]="user.isParent"></app-chore>
		</mat-list>
	</mat-tab>
	<mat-tab label="Wait for pay">
		<p *ngIf="_filteredChores.doneNotPaidChores.length === 0">All chores are paid</p>
		<mat-list>
			<app-chore *ngFor="let choreEl of _filteredChores.doneNotPaidChores" [item]="choreEl"
				[isParent]="user.isParent"></app-chore>
		</mat-list>
	</mat-tab>

	<mat-tab label="Archive">
		<p *ngIf="_filteredChores.archivedChores.length === 0">Archive is empty</p>
		<mat-list>
			<app-chore *ngFor="let choreEl of _filteredChores.archivedChores" [item]="choreEl"
				[isParent]="user.isParent"></app-chore>
		</mat-list>
	</mat-tab>
</mat-tab-group>

<mat-tab-group *ngIf="!isLoading && user.isParent">
	<mat-tab label="Doing">
		<p *ngIf="_filteredChores.toDo.length === 0">No chores in Doing</p>
		<mat-list>
			<app-chore *ngFor="let choreEl of _filteredChores.toDo" [item]="choreEl" [isParent]="user.isParent"
				(setDoneEvent)="setDone($event)">
			</app-chore>
		</mat-list>
	</mat-tab>
	<mat-tab label="To pay">
		<p *ngIf="_filteredChores.doneNotPaidChores.length === 0">All chores are paid</p>
		<mat-list>
			<app-chore *ngFor="let choreEl of _filteredChores.doneNotPaidChores" [item]="choreEl"
				[isParent]="user.isParent"></app-chore>
		</mat-list>
	</mat-tab>
	<mat-tab label="To confirm">
		<p *ngIf="_filteredChores.choresToConfirm.length === 0">No chores to confirm</p>
		<mat-list>
			<app-chore *ngFor="let choreEl of _filteredChores.choresToConfirm" [item]="choreEl"
				[isParent]="user.isParent" (confirmEvent)="onChoreReview($event)"></app-chore>
		</mat-list>
	</mat-tab>
	<mat-tab label="Archive">
		<p *ngIf="_filteredChores.archivedChores.length === 0">Archive is empty</p>
		<mat-list>
			<app-chore *ngFor="let choreEl of _filteredChores.archivedChores" [item]="choreEl"
				[isParent]="user.isParent"></app-chore>
		</mat-list>
	</mat-tab>
</mat-tab-group>
