<div class="row my-1">
	<div class="col s4">
		<app-shortcut-button [link]="'/chores'" [params]="[toPay, 2]" [icon]="'attach_money'" [title]="'Ready to pay'">
		</app-shortcut-button>
	</div>
	<div class="col s4">
		<app-shortcut-button [link]="'/chores'" [params]="[toReview, 1]" [icon]="'assignment_ind'"
			[title]="'To confirm'">
		</app-shortcut-button>
	</div>
	<div class="col s4">
		<app-shortcut-button [link]="'/chores'" [params]="[toDo, 0]" [icon]="'assignment'" [title]="'In progress'">
		</app-shortcut-button>
	</div>
</div>
