<section class="containerf" *ngIf="!onNotice || mobileQuery.matches">

  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button class="btn-menu btn-flat" (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name">{{title}}</h1>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav>
      <mat-nav-list>
        nav-list
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="row">
      <div class="col s12 m12 l6 push-l4 xl4 push-xl4">
        some content
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</section>


<section fxLayout="column" fxLayoutAlign="center center" class="non-mobile-container"
  *ngIf="onNotice || !mobileQuery.matches">
  <h3>Welcome to Chores&Money App!</h3>
  <h3>This application is designed to work on mobile devices</h3>
  <h3>Please toggle device toolbar or open it on mobile device with portrait orientation</h3>
  <p>or</p>
  <button mat-raised-button (click)="toggleNotice()">Continue to desktop version</button>
  <div style="margin-top: 20px;">
    <mat-checkbox (click)="setSaveChoice()">Open desktop version always</mat-checkbox>
  </div>
</section>
