<form *ngIf="!isLoading" [formGroup]="choreForm" (ngSubmit)="onSubmit()">
	<h3>Add a chore</h3>
	<mat-form-field>
		<textarea matInput placeholder="Description" formControlName="desc" required></textarea>
		<mat-error *ngIf="desc.invalid">{{getErrorMessageDesc()}}</mat-error>
	</mat-form-field>
	<mat-form-field>
		<input matInput placeholder="Cost" type="number" formControlName="cost" required>
		<mat-error *ngIf="cost.invalid">{{getErrorMessageCost()}}</mat-error>
	</mat-form-field>
	<mat-form-field>
		<mat-label>Select {{user.isParent ? 'child who works' : 'parent who pays'}}</mat-label>
		<mat-select formControlName="phone" name="relative" required>
			<mat-option *ngFor="let relative of relatives" [value]="relative.phone">
				{{relative.name}}
			</mat-option>
		</mat-select>
		<mat-error *ngIf="receiver.invalid">{{getErrorMessageReceiver()}}</mat-error>
	</mat-form-field>
	<div>
		<mat-checkbox formControlName="isDonation">Donation</mat-checkbox>
	</div>
	<div class="my-1">
		<button mat-raised-button color=primary title="Create new chore">Create chore</button>
	</div>
</form>
