.shortcut-btn {
    a {
        display: block;
        margin-left: auto;
        margin-right: auto;
        .mat-badge-content {
            top: -5px;
            right: -5px;
        }
    }
    .shortcut-btn-text {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 0.85rem;
        white-space: nowrap;
        margin-top: 5px;
    }
}
