<mat-list-item>
	<h4 mat-line>{{item.desc}}</h4>
	<button mat-icon-button title="Done" *ngIf="item.isConfirmed && !item.isDone" (click)="setDone()">
		<mat-icon>done</mat-icon>
	</button>
	<button mat-icon-button title="Confirm" *ngIf="isParent && !item.isConfirmed" (click)="confirmMe(true)">
		<mat-icon>check_circle_outline
		</mat-icon>
	</button>
	<button mat-icon-button title="Reject" *ngIf="isParent && !item.isConfirmed" (click)="confirmMe(false)">
		<mat-icon>remove_circle_outline
		</mat-icon>
	</button>
	<button mat-icon-button title="Paid" *ngIf="isParent && item.isDone && !item.isPaid" (click)="payMe()">
		<mat-icon>check_circle_outline

		</mat-icon>
	</button>
	<mat-divider></mat-divider>
</mat-list-item>
