<mat-nav-list>
	<a class="menu-item" routerLink="/profile" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i
			class="material-icons">
			account_circle
		</i><span>Profile</span></a>
	<a class="menu-item" routerLink="/chores" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i
			class="material-icons">
			list
		</i><span>Chores</span></a>
	<a class="menu-item" routerLink="/chores/add-chore" routerLinkActive="active"
		[routerLinkActiveOptions]="{exact: true}"><i
			class="material-icons">
			note_add
		</i><span>Add chore</span></a>
	<a class="menu-item" *ngIf="isParent" routerLink="/children" routerLinkActive="active"
		[routerLinkActiveOptions]="{exact: true}"><i
			class="material-icons">
			group
		</i><span>Children</span></a>
	<a class="menu-item" *ngIf="isParent" routerLink="/children/add-child" routerLinkActive="active"
		[routerLinkActiveOptions]="{exact: true}"><i
			class="material-icons">
			face
		</i><span>Add child</span></a>
	<a class="menu-item" routerLink="/balance" routerLinkActive="active"
		[routerLinkActiveOptions]="{exact: true}"><i
			class="material-icons">
			account_balance_wallet
		</i><span>Balance</span></a>
	<a class="menu-item" *ngIf="!isParent" routerLink="/create-transaction" routerLinkActive="active"
		[routerLinkActiveOptions]="{exact: true}"><i
			class="material-icons">
			face
		</i><span>Add transaction</span></a>
</mat-nav-list>
