<mat-nav-list>
	<a class="menu-item" routerLink="profile" routerLinkActive="active"><i class="material-icons">
			account_circle
		</i><span>Profile</span></a>
	<a class="menu-item" routerLink="chores" routerLinkActive="active"><i class="material-icons">
			list
		</i><span>Chores</span></a>
	<a class="menu-item" routerLink="chores/add-chore" routerLinkActive="active"><i
			class="material-icons">
			note_add
		</i><span>Add chore</span></a>
	<a class="menu-item" routerLink="children" routerLinkActive="active"><i class="material-icons">
			group
		</i><span>Children</span></a>
	<a class="menu-item" routerLink="children/register-child" routerLinkActive="active"><i
			class="material-icons">
			face
		</i><span>Register child</span></a>
</mat-nav-list>
