<section class="fx-container-center">
	<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form" novalidate>
		<h3>Login</h3>
		<div>
			<mat-form-field>
				<input matInput placeholder="Email" formControlName="email" required>
				<mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
			</mat-form-field>
		</div>
		<div>
			<mat-form-field>
				<input formControlName="password" required matInput placeholder="Enter your password"
					[type]="hide ? 'password' : 'text'">
				<button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
					[attr.aria-pressed]="hide" type="button">
					<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
				</button>
			</mat-form-field>
		</div>
		<button mat-raised-button color=primary title="Log in">Log in</button>
		<div class="my-1">
			<a [routerLink]="['/register']" class="w100" mat-stroked-button color=primary
				title="Register new user as a parent">Register
				parent</a>
		</div>
	</form>
</section>
