/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/custom-variables";
@import "./assets/scss/materialize/materialize.scss";

html,
body {
    height: 100%;
}

::selection {
    background-color: transparentize($primary-color, 0.7);
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.fx-container-center {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3 {
    text-align: center;
    color: $primary-color;
}

form {
    width: 320px;
    margin: auto;
    padding: 0 15px;

    @media (max-width: 768px) {
        width: 100%;
    }

    & > * > * {
        width: 100%;
    }

    button {
        width: 100%;
        margin-bottom: 20px;
        white-space: nowrap;
    }
    a {
        display: block;
        white-space: nowrap;
    }
}
