<mat-list-item *ngIf="!hide">
	<mat-icon mat-list-icon>face</mat-icon>
	<h4 mat-line>{{item.name}}</h4>
	<p mat-line>{{item.phone}}</p>
	<a mat-icon-button color="primary" title="add a chore" [routerLink]="['/chores/add-chore']"
		[queryParams]="{child: item._id}" matTooltip="{{'Create a chore to ' + item.name}}">
		<mat-icon>send</mat-icon>
	</a>
	<button (click)="removeChild()" mat-icon-button color="warn" aria-label="Remove child from list"
		matTooltip="{{'Remove ' + item.name + ' from list' }}">
		<mat-icon>remove_circle_outline</mat-icon>
	</button>
	<mat-divider></mat-divider>
</mat-list-item>
