<div class="my-1" *ngIf="!isLoading">
	<h3>Summary</h3>
	<mat-list class="flex-list">
		<mat-list-item>
			<p mat-line><span>{{user.isParent ? 'Paid out:' : 'Balance:'}}</span>
				<span>{{user.balance | formatMinusValue}}
					{{ user.currency}}</span></p>
			<mat-divider></mat-divider>
		</mat-list-item>
		<mat-list-item>
			<p mat-line><span>{{user.isParent ? 'Ready to pay:' : 'Incoming soon:'}}</span>
				<span>{{calculations.toPay}} {{ user.currency}}</span></p>
			<mat-divider></mat-divider>
		</mat-list-item>
		<mat-list-item>
			<p mat-line><span>Waiting to be done:</span>
				<span>{{calculations.isDoing}} {{ user.currency}}</span></p>
			<mat-divider></mat-divider>
		</mat-list-item>
	</mat-list>

	<h3>Transactions</h3>
	<mat-accordion>
		<mat-expansion-panel *ngIf="!user.isParent">
			<mat-expansion-panel-header>
				<mat-panel-title>
					<h4>Incoming transactions</h4>
				</mat-panel-title>
			</mat-expansion-panel-header>

			<mat-list>
				<app-transaction *ngFor="let transactionEl of transactions.incoming"
					[item]="transactionEl">
				</app-transaction>
			</mat-list>
		</mat-expansion-panel>
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>
					<h4>Outgoing transactions</h4>
				</mat-panel-title>
			</mat-expansion-panel-header>

			<mat-list>
				<app-transaction *ngFor="let transactionEl of transactions.outgoing"
					[item]="transactionEl">
				</app-transaction>
			</mat-list>

		</mat-expansion-panel>
	</mat-accordion>
</div>
